@use '../../assets/css/variables.scss' as *;

.buttons {
  position: absolute;
  top: calc(12px + var(--safe-area-top));
  right: calc(16px + var(--safe-area-right));
  z-index: $z-controls;

  display: flex;
  align-items: center;
  gap: 6px;
}
