@use '../../assets/css/variables.scss' as *;

.overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;

  .overlayBackdrop {
    position: absolute;
    inset: 0;
    background: $overlay-light;
    backdrop-filter: blur(6px);
  }

  .overlayContent {
    position: relative;
    z-index: 1;
    border-radius: $modal-radius-desktop;
  }
}

:global(.dark) {
  .overlay {
    .overlayBackdrop {
      background: $overlay-dark;
    }

    .overlayContent {
      border: 1px solid $overlay-border-dark;
    }
  }
}
